{% extends 'base.html.twig' %}

{% block title %}Enregistrement{% endblock %}

{% block body %}
    <h1>Enregistrement</h1>

    {{ form_start(registrationForm) }}
    {{ form_end(registrationForm) }}
{% endblock %}
