{% extends 'base.html.twig' %}

{% block title %}Vos courses{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
   <div>
    <h1>Liste des courses:</h1>
    {% if listeDemande is empty %}
        <h3>Aucune demande</h3>
    {% endif %}
    {% if listeDemande is not empty %}
       <table class="table table-striped">
            <thead>
            <tr>
                <th>Date</th>
                <th>Heure</th>
                <th>Nb places nécessaires</th>
                <th>Départ</th>
                <th>Destination</th>
                <th>Nom du client</th>
                <th>Prénom du client</th>
                <th>Prix</th>
                <th></th>
                <th>Actions</th>
                <th></th>

        </tr>
        </thead>
            {% for demande  in listeDemande %}
                <tr>
                    <td>{{demande.date|date("d/m/Y")}}</td>
                    <td>{{demande.heure|date("H:i")}}</td>            
                    <td>{{demande.placenecessaire}}</td>            
                    <td>{{demande.depart}}</td>
                    <td>{{demande.destination}}</td>
                    <td>{{demande.nom}}</td>
                    <td>{{demande.prenom}}</td>
                    <td>{{demande.prixttckm * demande.distance}}</td>
                    <td><a href="{{ path('reponse_chauffeur', {'id' : demande.id   ,'valide' : 1 , 'clientId': demande.clientId } ) }}">Valider</a>
                    <td><a href="{{ path('reponse_chauffeur', {'id' : demande.id   ,'valide' : 0 , 'clientId': demande.clientId } ) }}">Refuser</a></td>
                    <td><a href="https://www.google.com/maps/dir/?api=1&origin={{demande.depart}}&destination={{demande.destination}}&travelmode=driving">Visualiser itinéraire</a></td>
                    </td>
                </tr>    
            {% endfor %}
        {% endif %}
    </table>
   </div>

   <!-- liste des courses en cours -->
    <div>
    <h1>Courses en cours:</h1>
    {% if listeEnCour is empty %}
        <h3>Aucune demande</h3>
    {% endif %}
    {% if listeEnCour is not empty %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Date</th>
                <th>Heure</th>
                <th>NB place nécessaires</th>
                <th>Depart</th>
                <th>Destination</th>
                <th>Nom du client</th>
                <th>Prénom du client</th>
                <th>Prix</th>
                <th>Actions</th>
                
        </tr>
        </thead>
            {% for demande  in listeEnCour %}
                <tr>
                    <td>{{demande.date|date("d/m/Y")}}</td>
                    <td>{{demande.heure|date("H:i")}}</td>            
                    <td>{{demande.placenecessaire}}</td>            
                    <td>{{demande.depart}}</td>
                    <td>{{demande.destination}}</td>
                    <td>{{demande.nom}}</td>
                    <td>{{demande.prenom}}</td>
                    <td>{{demande.prixttckm * demande.distance}}</td>
                    <td><a href="https://www.google.com/maps/dir/?api=1&origin={{demande.depart}}&destination={{demande.destination}}&travelmode=driving">Visualiser itinéraire</a>
                   
                </tr>    
            {% endfor %}
        {% endif %}
    </table>
   </div>

   <!-- liste des courses fini-->
    <div>
    <h1>Courses terminées:</h1>
    {% if listeEffectuer is empty %}
        <h3>Aucune demande</h3>
    {% endif %}
    {% if listeEffectuer is not empty %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Date</th>
                <th>Heure</th>
                <th>NB place nécessaires</th>
                <th>Depart</th>
                <th>Destination</th>
                <th>Nom du client</th>
                <th>Prénom du client</th>
                <th>Prix</th>
                <th>Actions</th>
                
        </tr>
        </thead>
            {% for demande  in listeEffectuer %}
                <tr>
                    <td>{{demande.date|date("d/m/Y")}}</td>
                    <td>{{demande.heure|date("H:i")}}</td>            
                    <td>{{demande.placenecessaire}}</td>            
                    <td>{{demande.depart}}</td>
                    <td>{{demande.destination}}</td>
                    <td>{{demande.nom}}</td>
                    <td>{{demande.prenom}}</td>
                    <td>{{demande.prixttckm * demande.distance}}</td>
                    <td><a href="https://www.google.com/maps/dir/?api=1&origin={{demande.depart}}&destination={{demande.destination}}&travelmode=driving">Visualiser itinéraire</a>
                    
                </tr>    
            {% endfor %}
        {% endif %}
    </table>
   </div>
</div>
{% endblock %}
