@import "variables";

body{
    background-color: rgb(54, 54, 54);
}

h1{
    color:$couleur_site;
    //text-shadow: 2px 2px 0 rgb(0, 189, 0), 4px 4px 0 green;
    font-family: 'Lobster', cursive;

}

h3{
    color:white;
}

label, .col-form-label{
    color:$couleur_site;
    font-family: 'Lobster', cursive;
}

td,th{
    color:white;
    text-align: center;
}

thead{
    background-color:#117a8b;
}