{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <br>
   
    <div class="center">
        <h1 >page accueil</h1>
    </div>
    <div>
        <img class="logo" src="{{asset('images/logo.png') }}">
    </div>
   


{% endblock %}

