@import "../variables";

.div_menu{
    position: fixed;
}

.menu, .menu ul{
    padding:0;
    margin:0;
    list-style:none;
    text-align:center;
    background: $menu_color ;
   
    }
    .menu li{
    display:inline-block;
    position:relative;
    height: 70px;
    background: $menu_color;
    }
    
    .menu li:hover,.menu li a:hover{
        background-color:$couleur_site;
        color:white ;
        text-transform:inherit;
        }

    
       
   
    /* les a href */
    .menu a{
    text-decoration:none;
    display:block;
    padding:0px 32px;
    color:$couleur_site;
    
    font-family:arial;
    line-height: 70px;
    }
  
    
  
   