{% extends 'base.html.twig' %}

{% block title %}Noter ce trajet{% endblock %}

{% block body %}
    <h3>Laisser une note pour votre trajet du {{ course[0].date|date("m/d/Y") }} à {{ course[0].heure|date("H:i") }}. </h3>
    <h3>Ce trajet partait de {{ course[0].depart }} et à destination de {{ course[0].destination }}. </h3>
    <h3>La distance était de {{ course[0].distance }} pour un prix de {{ (course[0].prixttckm * course[0].distance)|round(2, 'floor')}} </h3>
    {{ form(form)}}

{% endblock %}