{% extends 'base.html.twig' %}

{% block title %}Vos courses{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>
    
    <div class="example-wrapper">
        <div class="center">
            <h1>Liste des courses</h1>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th colspan="1">Date du trajet</th>
                <th colspan="1">Départ</th>
                <th colspan="1">Destination</th>
                <th colspan="1">Distance</th>
                <th colspan="1">Prix</th>
                <th colspan="1">Note / 5</th>
                <th colspan="1"></th>
            </tr>
            </thead>

            <tbody>

            <h3>Voici la liste de vos courses qui ont été effectuées / acceptées : </h3>
            {% for course in courses %}
                <tr>
                    <td>{{ course.date|date("m/d/Y") }} {{ course.heure|date("H:i") }} </td>
                    <td>{{ course.depart }} </td>
                    <td>{{ course.destination }} </td>
                    <td>{{ course.distance }} km  </td>
                    <td>{{ (course.prixttckm * course.distance)|round(2, 'floor') }} </td>
                    {% if course.note is null %}

                    <td>  <a href="{{ path('evaluation', {'id' : course.id}) }}">Noter ce trajet</a></td>
                    {%  endif %}
                    {% if course.note is not empty %}
                        <td>{{ course.note }}   </td>
                    {%  endif %}
                    <td>✅</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
