{% extends 'base.html.twig' %}

{% block title %}Recherche de chauffeur{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>
    
    <div class="example-wrapper">


    {{ form(form)}}
    <a href="{{ path('client_recherche_geo', {'geo' : true } ) }}">Me géolocaliser</a>

</div>
{% endblock %}
