{% extends 'base.html.twig' %}

{% block title %}Recherche de chauffeur{% endblock %}

{% block body %}
    <h1>Voici la liste des taxis qui correspondent à vos critères</h1>
    <br>
    <p>La distance de votre trajet est  {{ distance }} kilomètres</p>
    <!--  <label for="type">Type de véhicule : </label>
      <input type="text" name="type" id="type">
      <label for="secteur">Secteur : </label>
      <input type="text" name="secteur" id="secteur">
      <select id="nbPlaces" >
          <option value="1">3</option>
          <option value="2">4 </option>
          <option value="3">5</option>
          <option value="4">6</option>
          <option value="4">7</option>
      </select> -->


    <table>
        <thead>
        <tr>
            <th colspan="1">Prenom</th>
            <th colspan="1">Véhicule</th>
            <th colspan="1">Évaluation du chauffeur</th>
            <th colspan="1">Prix total</th>
            <th colspan="1"></th>
        </tr>
        </thead>

        <tbody>
        {% for taxis in listeTaxis %}

            <tr>
                <td>{{ taxis.prenom }}</td>
                <td>{{ taxis.fkvehicule.marque ~ " " ~ taxis.fkvehicule.model }}</td>
                <td>{{ taxis.moyenne }}</td>
                <td>{{ (taxis.fktarif.prixttckm *  distance)|round(2, 'floor') }}</td>
                <td>
                    <a href="{{ path('add_course', {'taxis' : taxis.id   ,'date' : date, 'heure' : heure, 'depart' : depart,'destination' : destination, 'nbPlaces' : nbplaces, 'distance' : distance|replace({'.': ','}) } ) }}">Choisir
                </td>
            </tr>


        {% endfor %}
        </tbody>
    </table>
{% endblock %}
