<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}

            <link rel="stylesheet" href="{{asset('build/app.css') }}">
            <link rel="stylesheet" href="{{asset('build/css/saint-huber.css') }}">
        
        {% endblock %}
    </head>
    <body>
       
       <div style="position:fixed; width:100%; ">
       <ul class="menu" >
        <!-- menu chauffeur -->
        {% if is_granted('ROLE_CHAUFFEUR') %}
        
            <li><a href="{{ path('acceuil_chauffeur') }}">Accueil</a></li>
            <li><a href="{{ path('profil_chauffeur') }}">Votre profil</a></li>
            <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                
        
        <!-- menu client -->
        {% elseif is_granted('ROLE_CLIENT') %}

           <li><a href="{{ path('client_recherche') }}">Rechercher un trajet</a></li>
           <li><a href="{{ path('index_client') }}">Vos courses</a></li>
           <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>

        
        
        
        <!-- menu normal -->
        {% else %}
        
            <li><a href="{{ path('app_login') }}">Se connecter</a></li>
            <li><a href="{{ path('app_register') }}">S'inscrire</a></li>
 
        
        {% endif %}

       </div>
       <br><br><br> 


        {% block body %}{% endblock %}
        {% block javascripts %}
                
        <script src="{{asset('build/app.js')  }}"></script>

        {% endblock %}
        </ul>

         <footer>
    
        <img style="position: fixed; top: 20px; width: 7%; left:91%; top:89%;"  class="logo" src="{{asset('images/4programming.png') }}">
    
    </footer>
    </body>
</html>
