<!DOCTYPE html>

{% block body %}
<style>
    .center{margin-left: auto; margin-right: auto;text-align: center}
</style>

<div class="center">
    {% if mail.validation == 1 %}
    <div>
        <h1 style="color:green">Demande accepter</h1>
    </div>
    {% elseif mail.validation == 0 %}
    <div>
        <h1  style="color:red">Demande refuser</h1>
    </div>
    {% endif %}
    <br>
    <div>
        <img class="logo" src="{{asset('images/logo.png') }}" alt="">
    </div>
    <div class="mailBody">
        <div>
            <h2>Récapitulatif de la course</h2>
        </div>
        <div>
            <h3>Date :{{mail.date|date("d/m/Y")}}</h3>
        </div>
        <div>
            <h3>Heure :{{mail.heure|date("H:i")}}</h3>
        </div>
        <div>
            <h3>Nb places :{{mail.placenecessaire}}</h3>
        </div>
        <div>
            <h3>Départ :{{mail.depart}}</h3>
        </div>
        <div>
            <h3>Destination :{{mail.destination}}</h3>
        </div>
        <div>
            <h3>Secteur :{{mail.secteur}}</h3>
        </div>
        <div>
            <h3>Tarif :{{mail.tarif}} €</h3>
        </div>

    </div>
</div>


{% endblock %}
